@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@400;700&display=swap');

header::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("../images/background.png");
    background-size: cover;
    background-position: center;
    
    height: 100vh;
    width: 100vw;
    display: block;
    z-index: -10;
}

h1{
    font-family: 'Montserrat Subrayada', sans-serif;
    font-weight: 800;
    font-size: 60px;
    color: #A2ABA9;
}

h2{
    font-family: 'Montserrat Subrayada', sans-serif;
    font-weight: 500;
    font-size: 40px;
    color: #040404;
}

p{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #e67330;
}